h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'PT Sans', sans-serif;
}

.extension_content{
	width: 620px;
	height: 200px;
	background-color: #ffff33;
}

/*
Main info panel ----------------------------------------------------------------------------------------------------
*/

.main_info{
	width: 180px;
	height: 180px;
	background-color: #ffff99;
	float: left;
	display:inline-block;
	margin: 10px;
	position: relative;
}

/*
Rules for main info panels
*/

.active{
	height: 150px;
}
.active li{
	position: absolute;
	top: 200px;
}

.active li.current{
	top: 0px;
	height: 145px; 
}

.main_forecast_box{
	position: relative;
	overflow: hidden;
	top: 0;
}

.main_forecast_content{
	margin: 0;
	padding: 0;
}

.main_forecast_content li{
	width:100%;
	list-style: none;
	margin:0;
	padding:0;
}

/*Rules for date elements*/

.date_bar{
	top: 0px;
	width: 100%;
	height: 51px;
	position: absolute;
	background: #f2f2f2
}

.forecast_date{
	position: relative;
	top:0px;
}

.forecast_date h1{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 13px;
	padding-top:10px;
	padding-bottom: 10px;
	color: #808080;
	background-color: #f2f2f2;
	font-size: 2em;
}

/*Main info temperature elements*/

.max_temp_main{
	margin-top: 6px;
	margin-left: 5px;
	display:inline-block;
	float: left;
}

.max_temp_main h1{
	margin: 0px;
	color: #a6a6a6;
	padding-left: 7px;
	padding-top: 5px;
	font-size: 40px;
	line-height: 40px;
}

/*Main info address elements*/

.formatted_address{
	margin-top: 6px;
	margin-left: 5px;
	display:inline-block;
	float: left;
}

.formatted_address h1{
	margin: 0px;
	color: #a6a6a6;
	padding-left: 7px;
	padding-top: 5px;
	font-size: 20px;
	line-height: 20px;
}

/*Navigation buttons*/

.chevron_icon{
	color: #808080;
	background-color: #f2f2f2;
	-webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.chevron_icon:hover{
	background-color: #cccccc;
	cursor: pointer;
}

.chevron_icon_left{
	bottom: 0px;
	position: absolute;
}

.chevron_icon_right{
	bottom: 0px;
	right: 0px;
	position: absolute;
}


/*
Sections ----------------------------------------------------------------------------------------------------
*/

.visible_section{
	display: inline-block !important;
}

.heading_bar_return{
	height:51px;
	width:51px;
	background-color: #808080;
	margin:0px;
	float: right;
	display: inline-block;
}

.heading_bar_return:hover{
	background-color: #999999;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.heading_bar_return i{
	color: #f2f2f2;
	margin: 7.5px;
}

.heading_bar{
	width: 100%;
	height: 51px;
	background-color: #f2f2f2;
}

.heading_bar h1{
	color: #808080;
	font-size: 25px;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 13px;
	display: inline-block;
}

/*
Extra info panel ----------------------------------------------------------------------------------------------------
*/

.extra_info{
	width: 340px;
	height: 180px;
	margin: 10px;
	margin-left: 0px;
	float: left;
	display: none;
	background-color: #f2f2f2;
	position: relative;
}

.extra_info ul{
	height: 100%;
	list-style-type: none;
	padding: 0px;
    overflow-y: scroll;
    white-space: nowrap;
    margin: 0px;
    background-position: -1000px;

    background-repeat: no-repeat;

	background-image: -webkit-linear-gradient(left, rgba(242, 242, 242, 0.7) , rgba(204, 204, 204, 0.7), rgba(242, 242, 242, 0.7)); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(right, rgba(242, 242, 242, 0.7) , rgba(204, 204, 204, 0.7), rgba(242, 242, 242, 0.7)); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(right, rgba(242, 242, 242, 0.7) , rgba(204, 204, 204, 0.7), rgba(242, 242, 242, 0.7)); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, rgba(242, 242, 242, 0.7) , rgba(204, 204, 204, 0.7), rgba(242, 242, 242, 0.7)); /* Standard syntax */
}

.extra_info ul li{
	width: 100%;
	background-color: rgba(255, 255, 255, 0);/*#f2f2f2*/
	height: 50px;
	/*margin-bottom: 5px;*/
	border-bottom: 5px solid #ffff99;
	position: relative;

}

.refresh_effect{
    -webkit-animation: refresh_animation 1.5s ease;
}

@-webkit-keyframes refresh_animation{
	from{background-position: -340px 0}
	to{background-position: 340px 0}
}

.timeframe_element{
	display: inline-block;
	height: 100%;
}

.timeframe_element h1{
	margin:0px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
	color: #808080;
	position: relative;
}

.timeframe_element h1:after{
	content:; ''
}

.timeframe_time h1{
	padding-left: 15px;
}

/*
Settings Section ----------------------------------------------------------------------------------------------------
*/

.settings_section{
	width: 340px;
	height: 180px;
	margin: 10px;
	margin-left: 0px;
	float: left;
	display: none;
	background-color: #ffff99;
}

/*
Location Section ----------------------------------------------------------------------------------------------------
*/

.location_section{
	width: 340px;
	height: 180px;
	margin: 10px;
	margin-left: 0px;
	float: left;
	display: none;
	background-color: #ffff99;
	position: relative;
}

.location_section .heading_bar_return{
	position: absolute;
	right: 0px;
	z-index: 99;
	background-color: rgba(128, 128, 128, 0.7)
}

.location_section .heading_bar_return:hover{
	background-color: rgba(153, 153, 153, 0.7)
}

/*Map elements styling*/

#map_canvas{
	width: 100%;
	height: 100%;
	position: relative;
	margin:0px;
}

.angular-google-map-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map_textbox{
	color: rgba(242, 242, 242, 1);
	background-color: rgba(128, 128, 128, 0.7);
	font-family:'PT Sans', sans-serif;
	border-style: none;
	font-size: 18px;
	padding-left: 8px;
}

#map_textbox::-webkit-input-placeholder{
	color: rgba(242, 242, 242, 1);
}

/*
Options menu
*/

.options{
	width: 60px;
	height: 180px;
	margin: 10px;
	margin-left: 0px;
	float: left;
	display: inline-block;
	background-color: #ffff99;
}

.options_item{
	width: 60px;
	height: 60px;
	background-color: #f2f2f2;
	-webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.options_item:hover{
	background-color: #cccccc;
	cursor: pointer;
}

.options_item i{
	color: #808080;
	margin: 12px;
}

/* Rules for sizing material icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

::-webkit-scrollbar{
    background-color: #ffff99;
}

::-webkit-scrollbar-thumb{
    height: 10px;
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #a6a6a6;
	cursor: pointer;
}
