.extension_content{
	width: 620px;
	height: 200px;
	background-color: #ffff33;
}

.main_info{
	width: 180px;
	height: 180px;
	background-color: #ffff99;
	float: left;
	display:inline-block;
	margin: 10px;
}

.extra_info{
	width: 300px;
	height: 180px;
	margin: 10px;
	margin-left: 0px;
	float: left;
	display: inline-block;
	background-color: #ffff99;
}

.options{
	width: 100px;
	height: 180px;
	margin: 10px;
	margin-left: 0px;
	float: left;
	display: inline-block;
	background-color: #ffff99;
}