<!DOCTYPE html>
<html>
<head>
	<title>Popup</title>
</head>
<body ng-app="Extension">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ngGeolocation/ngGeolocation.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	<script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
	<script src="/bower_components/lodash/dist/lodash.js"></script>
	<script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link rel="stylesheet" type="text/css" href="css/weather-icons.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxXaP7UCo_Io_3xqlPsAIFYA0_hokhCBI&callback=angular.noop" async defer></script> -->
	
	<div class="extension_content">
		<div ng-controller="MainController">
			<div class="main_info">

				<div class="main_forecast_box active">
					
					<ol class="main_forecast_content">
						<li ng-repeat="daily in forecast.DailyForecast" ng-class="{current:$first}">
							<div class="forecast_date">
								<h1>
									{{daily.date}}
								</h1>
							</div>
							<div class="max_temp_main">
								<h1>{{daily.max_temp_main}} &deg;C</h1>
							</div>
						</li>
					</ol>

				</div>

				<i class="material-icons md-36 chevron_icon chevron_icon_left" ng-click="prevForecast()">chevron_left</i>
				<i class="material-icons md-36 chevron_icon chevron_icon_right" ng-click="nextForecast()">chevron_right</i>		

			</div>
			<div class="extra_info visible_section">
				<ul>
					<li ng-repeat="timeframe in forecast.currentDailyForecast.timeframes">
						<div class="timeframe_time timeframe_element">
							<h1>{{timeframe.time}}</h1>
						</div>
						<div class="timeframe_temp timeframe_element">
							<h1>{{timeframe.temp}} &deg;C</h1>
						</div>
					</li>
				</ul>
			</div>

		</div>

		<div class="settings_section">
			<div class="heading_bar">
				<h1>Settings</h1>
				<div class="heading_bar_return">
					<i class="material-icons md-36">arrow_back</i>
				</div>
			</div>
		</div>

		<div class="location_section">
			<div class="heading_bar">
				<h1>Change location</h1>
				<div class="heading_bar_return">
					<i class="material-icons md-36">arrow_back</i>
				</div>
			</div>
			<div id="map_canvas" ng-controller="LocationController">
    			<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
			</div>
		</div>


		<div class="options">
			<div class="options_item change_location_button">
				<i class="material-icons md-36">search</i>
			</div>
			<div class="options_item settings_button">
				<i class="material-icons md-36">settings</i>
			</div>
			<div ng-controller="RefreshController">
				<div class="options_item refresh_button" ng-click="refresh()">
					<i class="material-icons md-36 refreshIcon">refresh</i>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="js/buttons.js"></script>
	<script type="text/javascript" src="js/extension.js"></script>
	<script type="text/javascript" src="js/Services/ForecastService.js"></script>
	<script type="text/javascript" src="js/Controllers/MainController.js"></script>
	<script type="text/javascript" src="js/Controllers/RefreshController.js"></script>
	<script type="text/javascript" src="js/Controllers/LocationController.js"></script>
	<script type="text/javascript" src="js/carousel-controls.js"></script>

</body>
</html>